services:
  web:
    build: .
    restart: unless-stopped
    container_name: server
    # command: gunicorn --workers=4 --threads=3 --bind 0.0.0.0:80 payday.wsgi:application
    command: gunicorn --bind 0.0.0.0:80 payday.wsgi:application
    volumes:
      - .:/app
    ports:
      - "80:80"
    depends_on:
      - pgbouncer
      - redis
      - minio
    env_file:
      - .env.server

  worker:
    build: .
    restart: unless-stopped
    container_name: worker
    command: celery -A payday worker -l INFO -E
    volumes:
      - .:/app
    depends_on:
      - pgbouncer
      - redis
      - minio
    env_file:
      - .env.worker

  db:
    image: postgres:latest
    restart: unless-stopped
    container_name: pay_base
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=payday
      - POSTGRES_USER=payday
      - POSTGRES_PASSWORD=payday

  pgbouncer:
    image: edoburu/pgbouncer:latest
    container_name: pgbouncer
    restart: unless-stopped
    ports:
      - "6432:6432"
    volumes:
      - ./pgbouncer/pgbouncer.ini:/etc/pgbouncer/pgbouncer.ini
      - ./pgbouncer/userlist.txt:/etc/pgbouncer/userlist.txt
    environment:
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
      - MINIO_OPTS=--address :9000 --console-address :9001
    command: server /data --address :9000 --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data: