amqp
annotated-types
asgiref
Babel
billiard
boto3
botocore
celery
certifi
click
click-didyoumean
click-plugins
click-repl
crispy-bootstrap4
crispy-bootstrap5
dj-database-url
Django
django-ace
django-autocomplete-light
django-autoslug
django-cors-headers
django-currentuser
django-debug-toolbar
django-extensions
django-filter
django-json-widget
django-mathfilters
django-money
django-phonenumber-field
django-qr-code
django-slick-reporting
django-storages
django-tinymce
django-widget-tweaks
djangorestframework
et-xmlfile
Faker
gevent
greenlet
gunicorn
jmespath
kombu
numpy
openpyxl
packaging
pandas
phonenumbers
pillow
prompt-toolkit
psycopg2-binary
py-moneyed
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
qrcode
redis
s3transfer
segno
sentry-sdk
setuptools
simplejson
six
sqlparse
typing-extensions
tzdata
urllib3
vine
wcwidth
whitenoise
XlsxWriter
zope.event
zope.interface