amqp==5.3.1
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.8.1
babel==2.16.0
billiard==4.2.1
boto3==1.35.70
botocore==1.35.70
celery==5.4.0
certifi==2024.8.30
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
crispy-bootstrap4==2024.10
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==5.1.3
django-ace==1.36.2
django-appconf==1.0.6
django-autocomplete-light==3.11.0
django-autoslug==1.9.9
django-celery-email==3.0.0
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-currentuser==0.8.0
django-debug-toolbar==4.4.6
django-extensions==3.2.3
django-filter==24.3
django-json-widget==2.0.1
django-mathfilters==1.0.0
django-money==3.5.3
django-phonenumber-field==8.0.0
django-qr-code==4.1.0
django-slick-reporting==1.3.1
django-storages==1.14.4
django-tinymce==4.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
et_xmlfile==2.0.0
Faker==33.0.0
fastapi==0.115.6
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.7
idna==3.10
jmespath==1.0.1
kombu==5.4.2
numpy==2.1.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
phonenumbers==8.13.50
pillow==11.0.0
prompt_toolkit==3.0.48
psycopg2-binary==2.9.10
py-moneyed==3.0
pydantic==2.10.2
pydantic_core==2.27.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
qrcode==8.0
redis==5.2.0
s3transfer==0.10.4
segno==1.6.1
sentry-sdk==2.19.0
setuptools==75.6.0
simplejson==3.19.3
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.2
starlette==0.41.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.8.2
XlsxWriter==3.2.0
zope.event==5.0
zope.interface==7.1.1
