{% extends 'registration/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block left_content %}
{% static 'assets/images/logo/logo.png' as logo %}
<div class="auth-logo"><a href="#"><img src="{{ organization.logo.url|default:logo }}" alt="Logo"></a></div>

    <h1 class="auth-title">{% trans "Nous vous avons envoyé un courriel" %}</h1>
    <p class="auth-subtitle mb-5">{% trans "les instructions pour définir votre mot de passe, si un compte existe avec l'adresse électronique que vous avez indiquée. Vous devriez les recevoir sous peu." %}</p>

    <p>
        {% trans "Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable." %}
    </p>

    <div class="text-center mt-5 text-lg fs-4">
        <p><a class="font-bold" href="{% url 'login' %}">{% trans "Vous vous souvenez de votre compte ?" %} {% trans 'Connexion' %}</a>.</p>
    </div>
{% endblock %}