{% extends 'registration/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block left_content %}
    {% static 'assets/images/logo/logo.png' as logo %}
    <div class="auth-logo"><a href="#"><img src="{{ organization.logo.url|default:logo }}" style="height: 5rem !important;" alt="logo"></a></div>

    <h1 class="auth-title">{% trans 'Votre mot de passe a été défini' %}</h1>
    <p class="auth-subtitle mb-5">{% trans 'Vous pouvez continuer' %}</p>

    <div class="text-center mt-5 text-lg fs-4">
        <p><a class="font-bold" href="{% url 'login' %}">{% trans 'Connexion' %}</a> {% trans 'maintenant.' %}</p>
    </div>
{% endblock %}