{% extends 'registration/base.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block left_content %}
{% static 'assets/images/logo/logo.png' as logo %}
  <div class="auth-logo mb-4"><a href="#"><img src="{{ organization.logo.url|default:logo }}" alt="Logo"></a></div>

    <h1 class="auth-title">{% trans 'Mot de passe oublié' %}</h1>
    <p class="auth-subtitle fs-5 mb-5">{% trans 'Saisissez votre adresse électronique et nous vous enverrons un lien de réinitialisation du mot de passe.' %}</p>

    <form method="post">
        {% csrf_token %}

        {% for field in form.visible_fields %}
        <div class="form-group position-relative has-icon-left mb-4">
              {% if form.is_bound %}
                {% if field.errors %}
                  {% render_field field class="form-control form-control-xl is-invalid" placeholder=field.name %}
                  {% for error in field.errors %}<div class="invalid-feedback">{{ error }}</div>{% endfor %}
                {% else %}
                  {% render_field field class="form-control form-control-xl" placeholder=field.name %}
                {% endif %}
              {% else %}
                {% render_field field class="form-control form-control-xl" placeholder=field.label %}
              {% endif %}
                <div class="form-control-icon">
                    {% if field.name == 'username' or field.name == 'email' %}
                    <i class="bi bi-person"></i>
                    {% elif field.name == 'password' %}
                    <i class="bi bi-shield-lock"></i>
                    {% endif %}
                </div>
              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
        </div>
      {% endfor %}

        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Send</button>
    </form>
    <div class="text-center mt-5 text-lg fs-4">
        <p class='text-gray-600'>
          {% trans 'Vous vous souvenez de votre compte ?' %}
          <a href="{% url 'login' %}" class="font-bold">{% trans 'Se connecter' %}</a>.
        </p>
    </div>
{% endblock %}