{% load i18n %}

<div class="col">
    <div class="card">
        <div class="card-header pb-0">
            <h6>{% trans 'Approbation' %}</h6>
        </div>

        <div class="card-body">
            <div class="col">
                {% for approver in obj.approvers.all %}
                <span class="rounded bg-light p-2 fs-5"><i class="bi bi-clock-fill text-bg-warning avatar"></i> {{ approver }}</span>
                {% endfor %}
            </div>
            <hr />
            <div class="col">
                {% for approver in obj.approvals.all %}
                <span class="rounded bg-light p-2 fs-5"><i class="bi bi-check text-bg-success avatar"></i> {{ approver }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>