{% load core %}
{% load i18n %}
{% load crispy_forms_tags %}

{% with model_name=model|getattr:'_meta'|getattr:'model_name' model_verbose_name=model|getattr:'_meta'|getattr:'verbose_name' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"
    integrity="sha512-ltwjKsDTo3hW/wV66ZaEkf2wOAFxmg7rWM76J8kOcYKLSKy44WBYO/BFaNNH3NGDS8BSz3meB9wtSnm41oL+pA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Define custom autocomplete keywords
    var customKeywords = [
    { name: 'variable1', value: 'variable_1', meta: 'custom variable' },
    { name: 'variable2', value: 'variable_2', meta: 'custom variable' },
    // Add more variables as needed
];

// Create a custom completer
var customCompleter = {
    getCompletions: function(editor, session, pos, prefix, callback) {
        callback(null, customKeywords.map(function(keyword) {
            return {
                caption: keyword.name,
                value: keyword.value,
                meta: keyword.meta
            };
        }));
    }
};
editor.completers = [customCompleter];
</script>

<form method="post" enctype="multipart/form-data" class="page-content" id="form-{{ model_name }}">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist" id="content-tab">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active"
                       data-bs-toggle="tab" href="#{{ model_name }}">
                       {{ model_verbose_name|title }}</a>
                </li>

                {% for formset in formsets %}
                    <li class="nav-item" role="presentation">
                        <a class="nav-link"
                            data-bs-toggle="tab" href="#{{ formset.model|getattr:'_meta'|getattr:'model_name' }}">
                            {{ formset.model|getattr:'_meta'|getattr:'verbose_name_plural'|title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade active show" id="{{ model_name }}">
                    <div class="mt-2 pt-2">
                        {% crispy form %}
                    </div>
                </div>

                {% for formset in formsets %}
                <div class="tab-pane fade" id="{{ formset.model|getattr:'_meta'|getattr:'model_name' }}">
                    <div class="mt-2 pt-2" id="formset-{{ forloop.counter }}">
                        {{ formset.non_form_errors }}
                        {% crispy formset self.inline_formset_helper %}
                    </div>

                    {% if not formset.fk.unique %}
                    <script>$(function(){$('#formset-{{ forloop.counter }} tbody tr').formset({prefix: '{{ formset.prefix }}'});})</script>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

{% comment %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js" integrity="sha512-Tsdobfrx6IMRPi8d5z3AtjWNSbZxGm58IZFnblaRaepw562ZITlRhUM2Zu87vbvZjQxGmmto+31zEBLZ4wjs+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 {% endcomment %}

<script type="text/javascript">
    $(document).ready(function() {
        // $('.dynamic-form').formset({addText: "Ajouter", deleteText: 'Retirer'});
        $('.datepicker').datepicker({dateFormat: 'dd/mm/yy'});
        /* const inputs = document.querySelectorAll('input[id*="DELETE"]');
        inputs.forEach(input => input.type = 'checkbox'); */

        $('a[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('payday-last-active-tab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('payday-last-active-tab');
        if(activeTab == null || activeTab == undefined) return;
        $(document.querySelectorAll('a[href="'+activeTab+'"]')[0]).tab("show");

        {% if not request.user.is_superuser or not request.user.is_staff %}
        $('select[name="employee"]').prop('disabled', true);
        $('select[name="employee"]').select2();  // Reinitialize if necessary
        {% endif %}
    });
</script>
{% endwith %}