{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}
<div class="page-heading">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col text-start">
                    <h3 class="m-0">{{ model|getattr:'_meta'|getattr:'verbose_name'|title }} #{{ obj.id }}</h3>
                    {% include 'components/breadcrumb.html' %}
                </div>

                <div class="col text-end">
                    <button type="submit" form="form-{{ model|getattr:'_meta'|getattr:'model_name' }}" class="btn btn-light-success btn-lg">{% trans 'sauvegarder' %}</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <section>
        <div class="card">
            <div class="card-body">
                {% include 'components/change_form.html' %}
            </div>
        </div>
    </section>
</div>
{% endblock %}