{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}
<div class="page-heading">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col text-start">
                    <h3 class="m-0">{{ model|getattr:'_meta'|getattr:'verbose_name'|title }} #{{ obj.id }}</h3>
                    {% include 'components/breadcrumb.html' %}
                </div>

                <div class="col text-end">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownDocumentBtn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Documents" %}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownDocumentBtn">
                            <a class="dropdown-item btn-list-action" href="{% url 'employee:sheet' obj.pk %}">{% trans 'Imprimer' %}</a>
                            {% for document in self.documents %}
                                <a class="dropdown-item btn-list-action" href="{% url 'core:print' document.id 'employee' 'employee' %}?pk={{ obj.pk }}">{{ document.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="{% url 'core:list' 'payroll' 'payslip' %}?employee__registration_number={{ obj.registration_number }}" class="btn btn-light-primary">{% trans 'Bulletins de salaire' %}</a>
                        <a href="{% url 'core:list' 'payroll' 'itempaid' %}?payslip__employee__registration_number={{ obj.registration_number }}" class="btn btn-light-info">{% trans 'Compte courant' %}</a>
                         
                        <a href="{% url 'core:delete' app model|getattr:'_meta'|getattr:'model_name' obj.pk %}" class="btn btn-light-danger">{% trans 'Supprimer' %}</a>
                        <button type="submit" form="form-{{ model|getattr:'_meta'|getattr:'model_name' }}" class="btn btn-light-success">{% trans 'Sauvegarder' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
    <div class="card-body p-0 p-4 pb-3">
        <div class="row">
            {% if obj.photo %}
            <div class="col-2">
                <img class="img-thumbnail" src="{{ obj.photo.url }}" />
                <h2 class="mt-3">{{ obj.short_name }}</h2>
            </div>
            {% endif %}

            <div class="col{% if obj.photo %}-10{% endif %}">
                <div id="attendances-chart"></div>
                {{ obj.attendances|json_script:'attendances' }}
                <script>
                    const getMonthName = monthNumber => new Date(0, monthNumber - 1).toLocaleString('fr', { month: 'long' });
                    const attendances = JSON.parse(document.getElementById('attendances').textContent).map((e) => ({
                        date: new Date(e.date),
                        count: e.count,
                    }));

                    new ApexCharts(document.querySelector('#attendances-chart'), {
                        series: Array.from({ length: 12 }, (value, index) => index+1).map(function (month){
                            return {
                                name: getMonthName(month),
                                data: Array.from({ length: 31 }, (value, index) => index+1).map(function(day){
                                    let y = attendances.find((item) => item.date.getMonth() === month && item.date.getDate() === day)
                                    return {x: String(day), y: y?y.count:0}
                                })
                            }
                        }),
                        chart: {
                            height: 300,
                            type: 'heatmap'
                        },
                        dataLabels: {
                            enabled: false
                        },
                        colors: ['#008FFB'],
                        title: {
                            text: 'Tableau de presence',
                            align: 'center'
                        },
                    }).render();
                </script>
            </div>
        </div>
    </div>
</div>

<div class="page-content" id="page-content">
    <section>
        <div class="card">
            <div class="card-body">
                {% include 'components/change_form.html' %}
            </div>
        </div>
    </section>
</div>

<div class="page-footer">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>{% trans 'Activities' %}</h4>
            </div>

            <ul>
                {% for log in self.logs %}
                    <li>{{ log.action_time }}: {{ log.change_message }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js"
	integrity="sha512-MpDFIChbcXl2QgipQrt1VcPHMldRILetapBl5MPCA9Y8r7qvlwx1/Mc9hNTzY+kS5kX6PdoDq41ws1HiVNLdZA=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>

<script>
    $(document).ready(function() {
        $('#print-employee-body').on('click', function() {
            // Create a temporary container to hold all content
            var combinedContent = document.createElement('div');

            // Select all elements with the class 'content' and append them to the temporary container
            $('.tab-pane').each(function() {
                // Create a wrapper div for each .content element to preserve styles and structure
                var wrapper = document.createElement('div');
                wrapper.appendChild(this.cloneNode(true)); // Clone the .content div and append to wrapper
                combinedContent.appendChild(wrapper); // Append the wrapper to combinedContent
            });

            $('.page-footer').each(function() {
                // Create a wrapper div for each .content element to preserve styles and structure
                var wrapper = document.createElement('div');
                wrapper.appendChild(this.cloneNode(true)); // Clone the .content div and append to wrapper
                combinedContent.appendChild(wrapper); // Append the wrapper to combinedContent
            });

            html2pdf().from(combinedContent).set({
                margin: 1,
                filename: '{{ obj.registration_number }}.pdf',
                // html2canvas: { scale: 1 },
                jsPDF: { unit: 'in', format: 'letter', orientation: 'landscape' }
            }).save();
        });
    });
</script>
{% endblock %}