{% load core %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ obj.full_name|slugify }}</title>
    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}">
    <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.7.0.min.js' %}" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-print-css/css/bootstrap-print.min.css" media="print">

    <style>
       html{
          font-size: 12px;
       }
       @media print {
            .navbar, .footer, .ads {
                display: none; /* Hide navigation bar, footer, and ads */
            }
            .container {
                width: 100%; /* Ensure the container takes full width */
            }
        }      
        @media print {
            .page-break {
                page-break-before: always;
            }
        }        
    </style>
 </head>

<body class="container-fluid bg-white">
    <!-- Photo & Attendance Table -->
    <div class="card mb-0">
        <div class="card-header">
            <h3>{{ obj.full_name }}</h3>
        </div>
        <div class="card-body">
            <div class="row">
                {% if obj.photo %}
                <div class="col-2">
                    <img class="img-thumbnail" src="{{ obj.photo.url }}" />
                    <h2 class="mt-3">{{ obj.short_name }}</h2>
                </div>
                {% endif %}

                <div class="col{% if obj.photo %}-10{% endif %}">
                    <div id="attendances-chart"></div>
                    {{ obj.attendances|json_script:'attendances' }}
                    <script>
                        const getMonthName = monthNumber => new Date(0, monthNumber - 1).toLocaleString('fr', { month: 'long' });
                        const attendances = JSON.parse(document.getElementById('attendances').textContent).map((e) => ({
                            date: new Date(e.date),
                            count: e.count,
                        }));

                        new ApexCharts(document.querySelector('#attendances-chart'), {
                            series: Array.from({ length: 12 }, (value, index) => index+1).map(function (month){
                                return {
                                    name: getMonthName(month),
                                    data: Array.from({ length: 31 }, (value, index) => index+1).map(function(day){
                                        let y = attendances.find((item) => item.date.getMonth() === month && item.date.getDate() === day)
                                        return {x: String(day), y: y?y.count:0}
                                    })
                                }
                            }),
                            chart: {
                                height: 300,
                                type: 'heatmap'
                            },
                            dataLabels: {
                                enabled: false
                            },
                            colors: ['#008FFB'],
                            title: {
                                text: 'Tableau de presence',
                                align: 'center'
                            },
                        }).render();
                    </script>
                </div>
            </div>
        </div>
    </div>

    <!-- Employee Information -->
    <div class="card mb-0">
        <div class="card-body">
            {% crispy form %}
        </div>
    </div>

    <!-- Fiche de paie -->
    <div class="page-break"></div>
    <div class="card mb-0">
        <div class="card-body">
            <h3>Fiche de paie</h3>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Paie</th>
                        <th>Net</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payslip in payslips %}
                        <tr>
                            <td>{{ payslip.payroll.name }}</td>
                            <td>{{ payslip.net }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Activities -->
    <div class="page-break"></div>
    <div class="card mb-0">
        <div class="card-body">
            <div class="card-title">
                <h4>{% trans 'Activities' %}</h4>
            </div>

            <ul>
                {% for activity in activities %}
                    <li>{{ activity }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>
