{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}

{% include 'components/change/heading.html' %}

<div class="page-content">
    <section>
        <div class="card">
            <div class="card-body">
                {% include 'components/change_form.html' %}
            </div>
        </div>
    </section>
</div>

<script>
    $(function() {
        steps = [{
            element: "#myTab",
            intro: '{% trans "Cet onglet vous permet de passer d une section à l autre du formulaire." %}',
        },{
            element: "#id__metadata",
            intro: '{% trans "Ce champ de saisie des métadonnées est utilisé pour stocker des informations sur les métadonnées, au format JSON." %}',
        }];
    });
</script>

{% endblock %}