{% extends 'base.html' %}

{% load i18n %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
{% load static slick_reporting_tags %}
{% get_current_language as LANGUAGE_CODE %}

<script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>

<div class="page-content">
    <div class="row">

        <!-- Retired soon -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Agent(s)</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        {% for status in employees_by_statues %}
                        <div class="col text-center">
                            {{ status.status__name }}
                            <h3>{{ status.count|default:0|abs }}</h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Payroll information -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>À ce jour</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col text-center">
                            Total net payé 
                            <h3>{{ at_this_day.total|default:0|abs|intcomma }}</h3>
                        </div>
                        {% comment %}<div class="col">
                            IPR / QPE
                            <h3>{{ ipr.total|default:0|abs|intcomma }}</h3>
                        </div>
                        <div class="col">
                            Total CNSS
                            <h3>{{ cnss.total|default:0|abs|intcomma }}</h3>
                        </div>{% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Retired soon -->
    <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Prendront leur congé</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col text-center">
                            Ce mois-ci
                            <h3>{{ leave_this_month.count|default:0|abs }}</h3>
                        </div>
                        <div class="col">
                            Dans 3 mois
                            <h3>{{ leave_in_three_months.count|default:0|abs }}</h3>
                        </div>
                        <div class="col">
                            Dans 6 mois
                            <h3>{{ leave_in_six_months.count|default:0|abs }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Retired soon -->
    <div class="col">
         <div class="card">
                <div class="card-header">
                    <h4>Retraité</h4>
                </div>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col text-center">
                            Ce mois-ci
                            <h3>{{ retired_this_month.count|default:0|abs }}</h3>
                        </div>
                        <div class="col">
                            Dans 3 mois
                            <h3>{{ retired_in_three_months.count|default:0|abs }}</h3>
                        </div>
                        <div class="col">
                            Dans 6 mois
                            <h3>{{ retired_in_six_months.count|default:0|abs }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% comment %}
    <div class="row">
        <div class="col-6">
            <div class="col">
                <div class="div-holder">
                    {% get_widget_from_url url_name="core:report" %}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="col">
                <div class="div-holder">
                    {% get_widget_from_url url_name="payroll:report-item-paid" %}
                </div>
            </div>
        </div>
    </div>
    {% block extrajs %}
        {% include "slick_reporting/js_resources.html" %}
        {% get_charts_media "all" %}
    {% endblock %}
    {% endcomment %}
</div>
<script>

    
</script>
{% endblock %}