{% extends 'base.html' %}

{% load core %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_filters %}

{% block content %}

{% include 'components/change/heading.html' %}

<div class="page-content">
    <section>
        <div class="card">
            <div class="card-body">
                {% include 'components/change_form.html' %}
            </div>
        </div>
    </section>
</div>

<div class="page-footer">
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>{% trans 'Activities' %}</h4>
            </div>
            <ul>
                {% for log in self.logs %}
                    <li>{{ log.action_time }}: {{ log.change_message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}