{% load core %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_filters %}

<div class="modal-content">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr class="text-uppercase">
                    {% for field in self.get_list_display %}
                        <th>{{ field.verbose_name }}</th>
                    {% empty %}
                        <th>{% trans 'PK' %}</th>
                        <th>{% trans 'Name' %}</th>
                    {% endfor %}
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in qs %}
                <tr data-id="{{ obj.id }}">
                    {% for field in self.get_list_display %}
                        {% if field.get_internal_type == 'FloatField' %}
                            <td>{{ obj|getattr:field.name|intcomma|default:'-' }}</td>
                        {% elif field.get_internal_type == 'BooleanField' %}
                            <td>
                                {% if obj|getattr:field.name %}
                                    <i class="bi bi-check-circle-fill text-success"></i>
                                {% else %}
                                    <i class="bi bi-slash-circle-fill text-danger"></i>
                                {% endif %}
                            </td>
                        {% else %}
                            <td>{{ obj|getattr:field.name|default:'-' }}</td>
                        {% endif %}
                    {% empty %}
                        <td>{{ obj.pk }}</td>
                        <td>{{ obj }}</td>
                    {% endfor %}
                    
                    {% url "core:change" app model|getattr:'_meta'|getattr:'model_name' obj.pk as url %}
                    <td><a class="text-decoration-none" href="{{ obj.get_absolute_url|default:url }}">{% trans 'View' %}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{{ self.get_list_display|length|add:3 }}" class="text-center">
                        {% trans 'Oupps... We found nothing' %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
