{% load core %}
{% load i18n %}

<div class="page-heading">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col text-start">
                    <h3 class="m-0">{{ model|getattr:'_meta'|getattr:'verbose_name'|title }} #{{ obj.id }}</h3>
                    {% include 'components/breadcrumb.html' %}
                </div>

                <div class="col text-end">
                    <div class="btn-group">
                        {% with self.documents as documents %}
                            {% if documents %}
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownDocumentBtn" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Documents" %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownDocumentBtn">
                                    {% for document in documents %}
                                        <a target="_blank" class="dropdown-item btn-list-action" href="{% url 'core:print' document.id app model|getattr:'_meta'|getattr:'model_name' %}?pk={{ obj.pk }}">{{ document.name }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}

                        {% for button in self.get_action_buttons %}
                            {{ button.render }}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>